* {
	box-sizing: border-box;
	font-family: 'Coda Caption', cursive;
}

body, html {
	min-height: 100vh;
	margin: 0;
	font-size: 12px;
	background-color: rgb(241,247,237);
}

header {
	border-bottom: 1px solid grey;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
	max-width: 100%
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

a {
	text-decoration: none;
	color: #00cf00;
	/*Stroke effect from stack overflow: https://stackoverflow.com/questions/4919076/outline-effect-to-text*/
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	transition: 0.3s;
}

a:hover {
	color: red;
	transition: 0.3s;
}

.grid-parent {
	display: grid;
	grid-template-columns: 200px 200px;
	justify-content: center;
	grid-gap: 40px
}

.logo {
	background: url(../imgs/logo.png);
	width: 40px;
	height: 40px;
	background-size: 100%;
	padding: 30px;
}

.credits {
	text-align: right;
}


.joke {
	font-size: 20px;
	font-size: 20px;
	transition: 0.5s;
}

.joke:hover {
	cursor: url(../imgs/smily.png), auto;
	font-size: 28px;
	transition: 0.5s;
}

